.glyphicon .padLeft {
	margin-left: 5px !important;
}

.center-block {
	text-align: center;
}

.footer li a {
	text-align: center;
}

.footer {
	margin-top: 100px !important;
}

.letter-style::first-letter {
	text-transform: uppercase;
}