//footer prototype for pages

.footer
	nav.navbar.navbar-default
		div.container-fluid
			.navbar-header
				h3 Copyright 2015: Gwendolyn Faraday
				ul.nav.navbar-nav
					li
						a(href='#') Link
							span.glyphicon.glyphicon-user
					li
						a(href='#') Link#2
							span.glyphicon.glyphicon-log-in