link(href='libraries/normalize-css/normalize.css', rel='stylesheet')
//link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
link(href='libraries/bootstrap/bootstrap.css', rel='stylesheet')
link(href='libraries/fonts/glyphicons-halflings-regular.woff2', rel='stylesheet')
link(href='custom.css', rel='stylesheet')
script(src='libraries/angular/angular.js')
script(src='libraries/angular-ui-router/angular-ui-router.js')
script(src='js/app.js')