link(href='libraries/normalize-css/normalize.css', rel='stylesheet')
link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
link(href='custom.css', rel='stylesheet')
script(src='libraries/jquery/jquery.js')
script(src='https://code.angularjs.org/1.4.7/angular.min.js')
script(src='js/app.js')