//header prototype for pages

head
	title VoteNow
	link(href='../libraries/normalize-css/normalize.css', rel='stylesheet')
	link(href='../libraries/bootstrap/bootstrap.less', rel='stylesheet/less')
	link(href='../custom.css', rel='stylesheet')
	script(src='../libraries/jquery/jquery.js')
	script(src='../libraries/angular/angular.js')