block vars 
doctype html
html(ng-app='myApp')
	head
		include ../partials/header.jade
		title VoteNow | #{title}
	body
		nav.navbar.navbar-default
			div.container-fluid
				.navbar-header
					a.navbar-brand(href='/') VoteNow
					ul.nav.navbar-nav.navbar-right
						li
							a(href='register') Sign Up
								span.glyphicon.glyphicon-user
						li
							a(href='login') Login
								span.glyphicon.glyphicon-log-in
		block body
		
		include ../partials/footer.jade