block vars 
doctype html
html(ng-app='myApp')
	head
		include ../partials/header.jade
		title VoteNow | #{title}
	body
		nav.navbar.navbar-default
			div.container-fluid
				.navbar-header
					a.navbar-brand(href='/') VoteNow
				ul.nav.navbar-nav.pull-right
					li
						a(href='register')
							span.glyphicon.glyphicon-user
							span Sign Up
					li
						a(href='login') Login
							span.glyphicon.glyphicon-log-in
		block body
