extends userBase
block vars
    - var title = 'Login'
block body
    form(method="post", role="form", style="width:90%; margin: 5px auto;", class="form-horizontal")
        input(type='hidden', name='_csrf', value=csrfToken)
        div.form-group
            label(for="question") Ask your question:
            input(type="text", name="question", required=true, class="form-control", id="question", placeholder='Which team will win the super bowl this year...?')
            br
        div.form-group
            label(for="responses") Choose Response Options:
            .input-group
                input(type="text", name="response", class="form-control", id="responses")
                span.input-group-btn
                    input(type="submit", class='btn btn-primary', value='Add')
        input(type="submit", class='btn btn-primary', value='Create Poll')


        //<div class="input-group">
             <input type="text" class="form-control">
             <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
             </span>