// home page for application

extends base

block vars
	- var title = 'Home'

block body

	.container
		h1 Here is the main body
			p Welcome to VoteNow.  Please <a href="register"> register</a> or <a href="login">login</a> to continue.

	include ../partials/footer.jade

	