extends userBase

block vars

    - var title = 'Login'

block body

    form(method="post", role="form", style="width:90%; margin: 5px auto;", class="form-horizontal")
        input(type='hidden', name='_csrf', value=csrfToken)
        div.form-group
            label(for="email") Email:
            input(type="email", name="email", required=true, class="form-control", id="email")
            br
        div.form-group
            label(for="pwd") Password:
            input(type="password", name="password", required=true, class="form-control", id="pwd")
            br
        input(type="submit", class='btn btn-primary')