block vars
doctype html
html(ng-app='myApp')
    head
        include ../partials/header.jade
        title VoteNow | #{title}
    body
        nav.navbar.navbar-default
            div.container-fluid
                .navbar-header
                    a.navbar-brand(href='/') VoteNow
                ul.nav.navbar-nav.pull-right
                    li
                        a(href='settings')
                            span.glyphicon.glyphicon-edit
                            span Settings
                    li
                        a(href='logout') Logout
                            span.glyphicon.glyphicon-user
        block body