//page that displays when a user is logged in

extends userBase

block vars
	- var title = 'Dashboard'

block body
	.text-center.letter-style(style='padding-top: 30px;')
		h1 #{user.firstName}'s Dashboard
		p. Welcome! You are now logged in.

		input(type='button', class='btn btn-primary', onClick="parent.location='createPoll'", value='Create Poll')
		input(type='button', class='btn btn-primary', onClick="parent.location='createPoll'", value='View Polls')